<style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        .box {
            width: 150px;
            margin: 50px auto;
        }
        
        .box-bg {
            width: 100%;
            height: 100px;
        }
        
        .box-bg img {
            width: 100%;
            height: 100%;
        }
        
        .box-text {
            width: 100%;
            background: gray;
        }
        
        .box-text h4 {
            text-align: center;
            padding: 5px 0;
        }
        
        .box-text p {
            font-size: 12px;
            text-align: center;
            padding-bottom: 10px;
        }
    </style>